<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
    <title>Portfolio Optimization</title>


    <script>
        function updateSliderValue(sliderId, displayId) {
            var slider = document.getElementById(sliderId);
            var display = document.getElementById(displayId);
            display.textContent = slider.value + "%";
        }
    </script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#help">Help</a>
    </div>

    <div id="#home" class="container">
        <h1 style="color: #04AA6D;">PORTFOLIO OPTIMIZATION</h1>
        <form action="/add_stock" method="POST">
            <table class="styled-table1 table-bordered table">
                <caption>
                    <h2>Add Stock</h2>
                </caption>
                <thead>
                    <th>Stock Ticker</th>
                    <th>View</th>
                    <th>Confidence</th>
                </thead>
                <tr>
                    <td> <input type="text" name="stock_ticker" placeholder="Enter Stock Ticker" required>
                    </td>
                    <td> <input type="number" name="view" placeholder="Enter View" step="0.01" required>
                    </td>
                    <td> <input type="range" id="confidence" name="confidence" min="0.5" max="100" step="5" required
                            onchange="updateSliderValue('confidence', 'confidenceValue')"><span>&nbsp</span><span
                            id="confidenceValue">50%</span>
                    </td>
                </tr>
            </table>
            <br>
            <button class="button1" type="submit">Add</button>

        </form>
    </div>
    <br>
    <div class="container" style="overflow-y: scroll;">

        <h2>Stock Data</h2>
        <table class="styled-table">
            <thead>
                <th>Stock Ticker</th>
                <th>View</th>
                <th>Confidence</th>
                <th>Action</th>
            </thead>
            {% for stock, data in stock_data.items() %}
            <tr>
                <td>{{ stock }}</td>
                <td>{{ data.view }}</td>
                <td>{{ data.confidence }}</td>
                <td><a href="/remove_stock/{{ stock }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>

        <form action="/optimize" method="POST">
            <label for="total_portfolio_value">Total Portfolio Value:</label>
            <input style="width: 25vh;height: 4vh;" type="number" id="total_portfolio_value"
                name="total_portfolio_value" step="1" required><br><br>

            <button type="submit">Optimize</button>
        </form>
    </div>
    <br>
    <div id="help" class="container" style="text-align: left;">
        <h1 style="text-align: center;"> How to Use OptiPort: Portfolio Optimization App </h1>
        <p>OptiPort is a user-friendly web application designed to help you optimize your investment portfolio for
            maximum returns or minimum risk. Follow these steps to make the most out of OptiPort: </p>
        <h2>1. Set Your Total Portfolio Value </h2>
        <p>When you first enter the application, you'll be prompted to set your total portfolio value. This represents
            the total amount you want to invest. Enter this value in the designated input field and click "Set Total
            Portfolio Value." </p>
        <h2>2. Add Stocks to Your Portfolio </h2>
        <div style="margin-left: 25px;">
            <h3>Adding a Stock:</h3>
            <p>
            <ol>
                <li><span class="bold">Ticker:</span> Enter the stock ticker symbol for the stock you want to add to
                    your
                    portfolio. For
                    example, if you want to add Tata Motors Ltd, enter "TATAMOTORS" or if you want to add Reliance
                    Industries Ltd, enter "RELIANCE"
                </li>
                <li><span class="bold">View:</span> Set your view on this stock. Views represent your expectation for
                    the
                    future return of the stock.
                    Use the range slider to adjust your view from 0 to 100.
                </li>
                <li><span class="bold">Confidence:</span> Set your confidence level in your view. Confidence represents
                    your
                    belief in the accuracy of
                    your view. Use the range slider to set your confidence level from 0 to 100.</li>
                <li>Click <span class="bold">"Add Stock"</span> to add the stock to your portfolio.</li>
            </ol>
            </p>
            <h3>Removing a Stock: </h3>
            <p>If you want to remove a stock from your portfolio, click the "Remove" button next to the respective
                stock.
            </p>
        </div>

        <h2>3. Optimize Your Portfolio</h2>
        <p>Once you have added stocks to your portfolio, click the "Optimize" button to optimize your portfolio
            based on
            your views and confidences. OptiPort will calculate the optimal allocation for each stock in your
            portfolio.
        </p>
        <h2>4. View Optimization Results</h2>
        <p>After optimization, you'll see the following information:

        <ol>
            <li><span class="bold">Optimized Weights:</span> These are the calculated weights for each stock in your
                portfolio. These weights
                represent the portion of your total portfolio value allocated to each stock.</li>
            <li><span class="bold">Allocation Table:</span> This table shows the number of shares allocated for each
                stock based on your total
                portfolio value.</li>
            <li><span class="bold">Leftover Funds:</span> This represents the remaining amount from your total
                portfolio
                value after the
                optimization.</li>
        </ol>
        </p>
        <h2>5. Explore Pie Chart (Optional)</h2>
        <p>A pie chart representing your optimized portfolio allocation will be displayed. Each segment of the pie
            chart
            represents the percentage of your total portfolio value allocated to a specific stock.</p>
        <hr>
        <p>Note: Always review your portfolio allocation carefully before making any investment decisions. OptiPort
            provides optimization suggestions based on the information you provide, but it's essential to validate
            these
            suggestions according to your financial goals and risk tolerance.</p>
        <p>Enjoy optimizing your investment portfolio with OptiPort!</p>

    </div>

</body>

</html>